<div class="box" (click)="onEditContact()">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img class="is-rounded" src="https://ui-avatars.com/api/?name={{contact.name}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{contact.name}}</strong>
          <br/>
          <small>{{contact.email}}</small>
          <br/>
          <small>{{contact.phone}}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <button class="delete"></button>
    </div>
  </article>
</div>
