<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img class="is-rounded" [src]="contact.avatar" (click)="onEditContact()" alt="Image">
      </figure>
    </div>
    <div class="media-content" (click)="onEditContact()">
      <div class="content">
        <p>
          <strong>{{contact.name}}</strong>
          <br/>
          <small>{{contact.email}}</small>
          <br/>
          <small>{{contact.phone}}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
      <button class="delete" (click)="onDelete(contact.id)"></button>
    </div>
  </article>
</div>
